.scrollsnap {
    height: 100vh;
}

:root {
    --font-heading: 'Ultra', serif;
    --font-content: 'Genos', sans-serif;
    --rose: #AB5C64;
    --line-height: 1em;
    --blue: #2C3861;
    --brown: #C44801;
    --red: #A60C0C;
    --light-rose: #EEDBDD;
    --p
}

/* Navigation Bar Styles */
.bg-light {
    background-color: white !important;
}

.navbar-brand img {
    max-height: 70px;
}

main {}

h2,
h3 {
    font-family: var(--font-heading);
    font-size: 1.5em;
    padding-bottom: 1em;
}

p {
    font-family: var(--font-content);
    font-size: 1.2em;
    font-weight: 400;
    line-height: var(--line-height);
}

/* ***************** MOBILE FIRST STYLES ************************* */
/* ***************** SMALL DEVICES <550px ************************ */

/* 1. Air section */

.air {
    background: white url(../images/airbackground.png) no-repeat center;

    background-size: cover;
    position: relative;
    overflow: hidden;
}

.logo-big {
    text-align: center;
    padding-top: 2em;

}

.logo-big>img {
    max-width: 120px;
}

h1 {
    font-size: 0.8em;
    font-family: var(--font-content);
    color: grey;
}

.air h2 {
    padding-bottom: 0;
}

.paragraph1 {
    padding-top: 11em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--rose);
    opacity: 0.9;
}

.paragraph2 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: center;
    color: var(--rose);
    opacity: 0.9;
}

#airscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.air img {
    width: 50%;
}

.cloud-right-top {
    top: 60% !important;
    left: 50% !important;
    width: 90%;
}

.cloud-right-bottom {
    top: 85% !important;
    left: 60% !important;
    width: 80%;
}

.cloud-left-bottom {
    top: 80% !important;
    left: 5% !important;
}

.cloud-left-top {
    top: 52% !important;
    left: 5% !important;
}

.birds1 {
    top: 25% !important;
    left: 20% !important;
    width: 130%;
}

.birds2 {
    top: 35% !important;
    left: 20% !important;
    width: 100%;
}

.birds3 {
    top: 20% !important;
    left: 40% !important;
    width: 100%;
}

/* 2. Water Section */

.water {
    background: white url(../images/waterbackground.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.paragraph3 {
    padding-top: 25em;
    opacity: 0.9;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--blue);
}

.paragraph4 {
    opacity: 0.9;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--blue);
}

#waterscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.water img {
    /* width: 50%; */
}

.turtle {
    display: inline-block !important;
    width: 60%;
    top: 15% !important;
    left: 3% !important;
    /* width: 90%; */
}

.turtle>img {
    width: 100%;
}

.coral {
    display: inline-block !important;
    width: 50%;
    top: 60% !important;
    left: 60% !important;
}

.coral>img {
    width: 100%;
}

/* 3. Earth Section */

.earth {
    background: white url(../images/earthbackground.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.paragraph5 {
    padding-top: 10em;
    opacity: 0.9;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--brown);
}

.paragraph5 :last-child {
    padding-top: 2em;
}

.paragraph6 {
    opacity: 0.9;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--brown);
}

#earthscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.plants>img {
    width: 70%;
}

.plants {
    top: 65% !important;
    left: 10% !important;
}

/* 4. Fire Section */

.fire {
    background: white url(../images/firebackground.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#firescene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* 
.fire img {
    width: 60%;

} */


.hand img {
    width: 60%;
    top: 80% !important;
    left: 60% !important;
}

.flame1 {
    width: 30%;
    top: 20% !important;
    left: 60% !important;
}

.flame2 {
    top: 50% !important;
    left: 60% !important;
    width: 30%;
}

.flame3 {
    top: 40% !important;
    left: 60% !important;
    width: 30%;
}

.paragraph7,
.paragraph8,
.paragraph9 {
    opacity: 0.9;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    color: var(--red);
}

.paragraph7 {
    padding-top: 10em;
}



/* 5. Work Section */

.work {
    background-color: var(--light-rose);
}

.paragraph10 {
    padding-top: 6em;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    color: var(--rose);
}

/* Styles to each photo card*/

.myprojects img {
    border: 1px solid black;
    cursor: pointer;
}

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: inline-block;
}

.info {
    background: rgba(27, 26, 26, 0.7);
    transition: all 0.3s ease-out;
    position: absolute;
    line-height: 1.8;
    cursor: no-drop;
    color: #fff;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center;
    padding-top: 45%;
    color: var(--light-rose);
    font-size: 1.4em;
}

.product-image:hover .info {
    transform: translateX(0);
}

.info ul li {
    transition: 0.3s ease;
}

.info ul li:hover {
    transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.infotop {
    transform: translateY(100%);
}

.infobottom {
    transform: translateY(-100%);
}

/* 6. Contact Section */

.contact {
    background-color: #FBF6F6;

}

/* Scroll Snap Styles */
main {
    max-height: 89vh;
    /* overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory; */
    margin-top: 11vh;
}

footer {
    display: none;
}