.scrollsnap {
    height: 100vh;
}

:root {
    --font-heading: 'Ultra', serif;
    --font-content: 'Genos', sans-serif;
    --rose: #AB5C64;
    --line-height: 1em;
}

/* Navigation Bar Styles */
.bg-light {
    background-color: white !important;
}

.navbar-brand img {
    max-height: 70px;
}

main {}

h2,
h3 {
    font-family: var(--font-heading);
    font-size: 2em;
}

p {
    font-family: var(--font-content);
    font-size: 1.3em;
    font-weight: 400;
    line-height: var(--line-height);
}

/* ***************** MOBILE FIRST STYLES ************************* */
/* ***************** SMALL DEVICES <550px ************************ */

/* 1. Air section */

.air {
    background: white url(../images/airbackground.png) no-repeat center;

    background-size: cover;
    position: relative;
    overflow: hidden;
}

.logo-big {
    text-align: center;
    padding-top: 2em;

}

.logo-big>img {
    max-width: 120px;
}

h1 {
    font-size: 0.9em;
    font-family: var(--font-content);
}

.paragraph1 {
    padding-top: 11em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--rose);
    opacity: 0.9;
}

.paragraph2 {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: var(--rose);
    opacity: 0.9;
}

#airscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.air img {
    width: 50%;
}

.cloud-right-top {
    top: 60% !important;
    left: 50% !important;
    width: 90%;
}

.cloud-right-bottom {
    top: 85% !important;
    left: 60% !important;
    width: 80%;
}

.cloud-left-bottom {
    top: 80% !important;
    left: 5% !important;
}

.cloud-left-top {
    top: 52% !important;
    left: 5% !important;
}

.birds1 {
    top: 20% !important;
    left: 20% !important;
    width: 130%;
}

.birds2 {
    top: 30% !important;
    left: 20% !important;
    width: 100%;
}

.birds3 {
    top: 15% !important;
    left: 40% !important;
    width: 100%;
}

/* 2. Water Section */

.water {
    background: white url(../images/waterbackground.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.paragraph3 {
    padding-top: 30em;
    opacity: 0.9;
}

.paragraph4 {
    opacity: 0.9;
}

#waterscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.water img {
    /* width: 50%; */
}

.turtle {
    display: inline-block !important;
    width: 50%;
    top: 5% !important;
    left: 3% !important;
    /* width: 90%; */
}

.turtle>img {
    width: 100%;
}

.coral {
    display: inline-block !important;
    width: 50%;
    top: 60% !important;
    left: 60% !important;
}

.coral>img {
    width: 100%;
}

/* 3. Earth Section */

.earth {
    background: white url(../images/earthbackground.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.paragraph5 {
    padding-top: 20em;
}

#earthscene {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



.plants>img {
    width: 70%;
}

.plants {
    top: 65% !important;
    left: 10% !important;
}

/* 4. Fire Section */

.fire {
    background-color: var(--rose);
}

/* 5. Work Section */



/* Scroll Snap Styles */
main {
    max-height: 89vh;
    /* overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory; */
    margin-top: 11vh;
}

footer {
    display: none;
}